/* font-family: 'Young Serif', serif;  for header*/
/* font-family: 'Dancing Script', cursive;
 */
body {
  background-color: rgb(228, 241, 247);
}
.container {
  text-align: center;
}
.navbar-brand {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
}
.nav-link {
  font-family: "Young Serif", serif;
}
h1 {
  font-family: "Dancing Script", cursive;
  margin: 30px;
  font-size: 90px;
  font-weight: bold;
}
p {
  font-family: "Young Serif", serif;
  margin: 20px 0px;
  text-align: justify;
  font-size: 15px;
  line-height: 2;
}
.img {
  height: 300px;
  width: 800px;
}

h2 {
  font-family: "Young Serif", serif;
  text-align: left;
}
.about {
  line-height: 2.5;
  text-align: center;
}
.icon {
  font-size: 200px;
}
.links {
  margin-left: 80px;
}
.social {
  margin-bottom: 120px;
}
footer {
  margin: 0 auto;
  display: block;
}
